.card-carousel {
  width: 90%;
  height: 90vh;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(12, 1fr);
  overflow: scroll;
  margin: 1rem 0;
  margin-bottom: 10rem;
  background-color: var(--background1);
}

.card-carousel::-webkit-scrollbar {
  display: block;
  height: 1rem;
}
.card-carousel::-webkit-scrollbar:horizontal {
  width: 10px;
  margin: 0 10rem;
  padding-left: 10rem;
}
.card-carousel::-webkit-scrollbar-button {
  display: none;
  background-color: transparent;
}

.card-carousel::-webkit-scrollbar-track {
  background-color: var(--acentoazul);
  border-radius: 20px;
}

.card-carousel::-webkit-scrollbar:vertical {
  display: none;
}
.card-carousel::-webkit-scrollbar-thumb {
  background-color: var(--background1);
  border-radius: 20px;
  border: 2px solid var(--primary);
}

.box {
  position: relative;
  width: 270px;
  height: 22rem;
  border-radius: 0.7rem;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin: 5rem 2rem;
}

.box::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ffad
  );
  animation: rotate 4s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  animation: rotate 4s linear infinite;
  animation-delay: 2s;
}

.card {
  position: absolute;
  inset: 2px;
  border-radius: 0.8rem;
  background-color: var(--acentoazul);
  z-index: 2;
  text-align: center;
  padding: 10px;
}

.card img {
  width: fit-content;
  height: 80px;
}

.card .titleCard {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-carousel button {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

@media (min-width: 850px) {
  .box {
    width: 335px;
    height: 23.5rem;
  }

  .card img {
    width: fit-content;
    height: 95px;
  }

  .card .titleCard {
    font-size: 1.7rem;
  }

  .card .textCard {
    font-size: 1.2rem;
  }
}

@media (min-width: 950px) {
  .box {
    width: 350px;
    height: 25rem;
  }
  .card-carousel {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .box {
    width: 340px;
    height: 26rem;
  }

  .card img {
    height: 100px;
  }

  .card .titleCard {
    font-size: 1.8rem;
  }

  .card .textCard {
    font-size: 1.3rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
