header {
  display: flex;
  background-color: var(--fondoOscuro);
  width: 100%;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  z-index: 3;
}

.listContainer {
  display: flex;
  position: absolute;
  top: 5rem;
  right: 0;
  background-color: var(--fondoOscuro);
  width: 60%;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 1rem;
  /* border: 0.1px solid var(--primary);
  border-top: 0;
  border-right: 0; */
  box-shadow: -0.5px 1px 1px 0px rgba(0, 255, 237, 0.7);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  margin-top: -1px;
}

.listContainer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 0;
  padding: 0;
}

.listContainer.active {
  display: flex;
  max-height: 300px;
}

.menuMobile {
  display: flex;
  z-index: 3;
  box-shadow: -0.5px 1px 1px 0px rgba(0, 255, 237, 0.7);
}

.menuDesktop {
  display: none;
}

.buttonLanguage {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  background: var(--background1);
  border-radius: 10px;
  border: 1px solid var(--shadow);
  box-shadow: inset 3px 3px 6px var(--shadow),
    inset -3px -3px 6px var(--bgProjects);
}
.circleButtonLanguage {
  width: 22px;
  height: 22px;
  background: var(--bgProjects);
  background-image: url("./españa.png");
  background-size: contain;
  border-radius: 50%;
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--bgProjects);
  transition: transform 0.3s linear;
}
.circleButtonLanguage.active {
  background-image: url("./estados-unidos.png");
  transform: translateX(18px);
  transition: transform 0.3s linear;
}

/* Media query para tabletas */
@media (min-width: 600px) {
  .container {
    width: 70%;
  }
}

/* Media query para pantallas más grandes */
@media (min-width: 800px) {
  .menuMobile {
    display: none;
  }

  .menuDesktop {
    display: flex;
  }
}
