.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 98vh;
  max-width: 90%;
}

.hero h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.hero .subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.hero .subtitle.active {
  display: none;
}

.subtitle span {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 600;
}

.hero .description {
  font-size: 1.2rem;
  font-weight: 200;
  display: none;
}

.description span {
  font-weight: bold;
  color: var(--primary);
}

.hero .active {
  display: initial;
}

.hero button {
  background-color: var(--acentoazul);
  border: 0;
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-top: 2rem;
}

/* Media query para tabletas */
@media (min-width: 600px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero .subtitle {
    font-size: 2rem;
    font-weight: 500;
  }

  .subtitle span {
    color: var(--primary);
    font-size: 2rem;
    font-weight: 600;
  }

  .hero .description,
  .description span {
    font-size: 1.5rem;
  }

  .hero button {
    width: 250px;
    height: 60px;
  }
}

/* Media query para pantallas más grandes */
@media (min-width: 800px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero .subtitle {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .subtitle span {
    color: var(--primary);
    font-size: 2.5rem;
    font-weight: 600;
  }

  .hero .description,
  .description span {
    font-size: 1.8rem;
  }

  .hero button {
    width: 300px;
    height: 70px;
  }
}
