:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
  box-sizing: border-box;

  --black: #080808;
  --blackpuro: #000;
  --blackpuro50: #00000090;
  --background1: #120045;
  --bgProject: #004368;
  --bgTitleProject: #013958;
  --fondoOscuro: #0c002e;
  --primary: #00ffed;
  --acentoazul: #091c62;
  --white: #f0eef6;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}
