:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  --black: #080808;
  --blackpuro: #000;
  --background1: #120045;
  --bgProject: #004368;
  --bgTitleProject: #013958;
  --fondoOscuro: #0c002e;
  --primary: #00ffed;
  --acentoazul: #091c62;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1300px; */
  margin: 0 auto;
}
