.navOption {
  display: flex;
  width: 10rem;
  height: 1rem;
  padding: 1rem 0.1rem;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
}
.isActive {
  background-color: var(--background1);
  font-weight: 600;
}

@media (min-width: 600px) {
  .navOption {
    font-size: 1.3rem;
  }
}
