.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgProject);
  margin-bottom: 0.5rem;
}

.projectTitle {
  font-size: 2rem;
  font-weight: 800;
  margin: 0 0 0.5rem;
}

.projectDescription {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
}

.projectDescription > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectDescription p {
  margin: 0;
  font-size: 1rem;
}

.btnsDesktop {
  display: none;
  margin-top: 1rem;
}

.btnsMobile {
  display: flex;
}

.project img {
  width: 100px;
  height: 120px;
  margin-left: 0.5rem;
}

.project .btns {
  justify-content: space-around;
  width: 70%;
  max-width: 600px;
  margin: 1rem 0;
}

.project .btns button {
  background-color: var(--primary);
  display: flex;
  width: 120px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--blackpuro);
  font-weight: 500;
  border: 0;
  border-radius: 10px;
}

/* Media query para tabletas */
@media (min-width: 600px) {
  .project {
    padding: 1rem 2rem;
  }

  .projectTitle {
    font-size: 2.3rem;
  }

  .projectDescription {
    align-items: flex-start;
  }

  .projectDescription p {
    font-size: 1.2rem;
  }

  .btnsDesktop {
    display: flex;
  }

  .btnsMobile {
    display: none;
  }

  .project img {
    width: 170px;
    height: 150px;
    margin-left: 1rem;
  }
}

/* Media query para pantallas más grandes */
@media (min-width: 950px) {
  .project {
    padding: 4rem 4rem;
    margin: 0;
    border: 0;
    width: 80%;
    max-width: 1100px;
  }

  .projectTitle {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    background-color: var(--bgTitleProject);
    width: 100%;
    text-align: center;
    padding: 0.2rem 0;
  }

  .left {
    flex-direction: row-reverse;
  }

  .projectDescription > div {
    width: 45%;
  }

  .projectDescription p {
    font-size: 1.5rem;
  }

  .project .btnsDesktop {
    width: 100%;
    margin-top: 2rem;
  }

  .project img {
    width: 300px;
    height: 300px;
    margin-left: 1rem;
  }
}

@media (min-width: 1200px) {
  .project {
    padding: 4rem 4rem;
    margin: 0;
    border: 0;
    width: 80%;
    max-width: 1100px;
  }

  .projectTitle {
    font-size: 2.8rem;
  }

  .projectDescription p {
    font-size: 1.8rem;
  }

  .project .btnsDesktop {
    width: 70%;
  }

  .project img {
    width: 400px;
    height: 400px;
    margin-left: 1rem;
  }
}
